/* General */
:root {
    --color-white: #ebfbfc;
    --color-blue: #39c;
}

a {
    text-decoration: none;
  }

html {
    font-size: 62.5%;
}

body {
    font-family: 'Courier Prime', monospace;
    font-size: 2rem;
    line-height: 1.5;
    color: var(--color-white);
}

section{
    padding-top: 3rem;
}

.body--background{
    background-color: #3a3d42;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* About Me */
.intro--greeting{
    color: var(--color-blue);
}

/* Navigation Bar */
.nav {
    top: 0%;
    position: fixed;
    background: #000;
    display: flex;
    justify-content:flex-end;
    padding: 1rem;
    width: 100%;
}
  
.nav__list {
    width: 100%;
    margin: 0;
    width: auto;
    display: flex;
    font-size: 1.6rem;
    height: fit-content;
    opacity: 1;
}
  
.nav__item {
    padding-right: 5rem;
    border: 0;
}
  
.nav__item > a {
    color: var(--color-white);
    transition: color 0.3s;
}
  
.nav__item > a:hover {
    color: var(--color-blue);
}
