/* General */
:root {
    --color-white: #ebfbfc;
    --color-blue: #39c;
    --color-dark-blue: #268;
    --color-grey: #3a3d42;
}

a {
    text-decoration: none;
    color: var(--color-blue);
}

a:hover{
    color: var(--color-dark-blue);
}

html {
    font-size: 62.5%;
}

h1, h2 {
    font-size: 2rem;
    text-decoration: none;
    font-weight: normal;
}

body {
    font-family: 'Courier Prime', monospace;
    font-size: 2rem;
    line-height: 1.5;
    color: var(--color-white);
    margin-bottom: 10rem;
}

section{
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.body--background{
    background-color: var(--color-grey);
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.makeBlue{
    color: var(--color-blue);
}

@media screen and (max-width: 768px){
    body{
        padding-top: 7rem;
        text-align: center;
    }
}

/* Contact Me */

.fa-github-square, .fa-linkedin, .fa-envelope{
    color: var(--color-white);
}

.fa-github-square:hover, .fa-linkedin:hover, .fa-envelope:hover{
    color: var(--color-blue) !important;
}

.contactme--icon{
    display: inline;
    list-style-type: none;
    margin-top: 2rem;
    margin-left: 2rem;
}

.contactme--list{
    padding-left: 0;
}

/* Navigation Bar */
.nav {
    top: 0%;
    position: fixed;
    background: none;
    padding: 1rem;
    width: 100%;
    background-color: var(--color-grey);
}
  
.nav__list {
    width: 100%;
    margin: 0;
    width: auto;
    display: flex;
    font-size: 1.6rem;
    height: fit-content;
    opacity: 1;
    flex-direction: row;
    justify-content: flex-end;
}
  
.nav__item {
    padding-right: 5rem;
    border: 0;
}
  
.nav__item > a {
    color: var(--color-white);
    transition: color 0.3s;
}
  
.nav__item > a:hover {
    color: var(--color-blue);
}

@media screen and (max-width: 768px){
    .nav__list{
        flex-direction: column;
        text-align: center;
    }
}

/* Resume */
.resume--icon{
    padding-left: 2rem;
    margin-bottom: 2rem;
}
